{% extends 'football/base.html' %}

{% block content %}

{% if user.is_authenticated %}
	<h1>U11 Teams</h1>
	<br/>





{% for team in team_name_U11 %}
    <div class="card">
        
        <div class="card-header">
            {{ team }}
        </div>
        <div class="card-body">
            <ul>
                <li><strong>Venue:</strong> {{ team.venue }}</li>
                <li><strong>Address:</strong> {{ team.address }}</li>
                <li><strong>Contact Name:</strong> {{ team.contact }}</li>
                <li><strong>Contact Mob:</strong> {{ team.contact_mob }}</li>
                <li><strong>Contact Email:</strong> {{ team.contact_email }}</li>
                <li><strong>Map Address Link:</strong> {{ team.map_link }}</li>
			</ul>
            <a href="{% url 'update-team-name' team.id %}" class="btn btn-outline-primary">Update</a>
        </div>


    </div>
    <br/>
{% endfor %}



	



{% else %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <h1>Sorry! You Must Be Logged In to View This!</h1>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

{% endblock %}